@charset "UTF-8";
/*!=================RESET=================!*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/** Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  background-color: #000;
}

/** Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/** Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/** Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/**Цвет для всех элементов a*/
a {
  color: #fff;
}

/** Для элементов a, у которых есть класс, убираем подчеркивание*/
a[class] {
  text-decoration: none;
}

/** Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/** Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/** Наследуем шрифты для инпутов и кнопок*/
input,
button,
textarea,
select {
  font: inherit;
}

/*!=================FONTS=================!*/
@font-face {
  font-family: "Open Sans";
  src: url("../source/fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../source/fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../source/fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../source/fonts/DMSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.visibility-hidden {
  display: none;
}

.title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
}

.slide__title::before, .slide__title::after, .page-header__title::before, .about__title::before {
  content: "";
  display: inline-block;
  width: 72px;
  height: 2px;
  vertical-align: middle;
  margin: 0 24px 0 0;
  background-color: #fbd784;
}

.subtitle {
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  word-wrap: break-word;
}

.main-contant {
  width: 1461px;
  margin: 0 auto;
}

section[class] {
  padding: 0 0 250px 0;
}

.link {
  font-weight: 700;
  color: #fbd784;
}

.slide__link::after, .about__link::after, .culture__link::after {
  content: "";
  display: inline-block;
  background: url(../img/icon/icon_arrow.svg);
  width: 25px;
  height: 16px;
  vertical-align: middle;
  margin: 0 0 0 9px;
}

.page-header__row-btn, .page-header__main-nav, .page-header__row-content, .page-header__row-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header__column-title, .page-header__container {
  margin: 0 auto;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.main-nav__item {
  margin-right: 50px;
  line-height: 25px;
}

.main-nav__link:hover {
  color: #ffc178;
}

.form-search__btn, .form-search__input {
  height: 25px;
}

.form-search__label, .form-search__input, .form-search__btn {
  border: none;
  outline: none;
}

.form-search__btn {
  background: url(../img/icon/icon_loupe.svg) no-repeat bottom;
  width: 25px;
  margin: 0 17px 0 0;
  cursor: pointer;
}

.form-search__label, .form-search__input, .form-search__input::-webkit-input-placeholder {
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  color: inherit;
}

.form-search__input {
  width: 0;
  background: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-search__input:focus {
  width: 150px;
  border-bottom: 1px solid #ffc178;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social__text {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.social__item:not(.social__item:last-child) {
  margin: 0 0 25px 0;
}

.social__img {
  margin: 0 0 0 7px;
}

.slide__viewport {
  position: relative;
}

.slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 79.603%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slide__title {
  padding: 0 0 24px 0;
}

.slide__link {
  padding: 0 0 42px 0;
}

.slide__title::before {
  margin: 0 29px 0 0;
}

.slide__title::after {
  margin: 0 0 0 29px;
}

.slide__text, .slide__subtitile {
  text-align: center;
}

.slide__subtitile {
  padding: 0 0 27px 0;
}

.slide__text {
  max-width: 80.309%;
  padding: 0 0 39px 0;
}

/*!=================HEADER=================!*/
.page-header {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: 1558px;
  position: relative;
  z-index: 1;
  background: linear-gradient(330.24deg, rgba(0, 0, 0, 0) 31.06%, #000 108.93%), url(../img/bg.png) no-repeat center/cover;
}

.page-header__bg {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 358px;
  min-width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(14.99%, #000), color-stop(77.78%, rgba(0, 0, 0, 0)));
  background: linear-gradient(360deg, #000 14.99%, rgba(0, 0, 0, 0) 77.78%);
  z-index: 2;
}

.page-header__container {
  width: 1920px;
  padding: 58px 84px 0 79px;
}

.page-header__logo {
  width: 86px;
  height: 23px;
  margin: 0 0 0 6px;
}

.page-header__main-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8px 0 198px 0;
}

.page-header__form-search {
  margin: -2px 0 0 0;
}

.page-header__row-content {
  margin: -32px 0 0 0;
}

.page-header__title {
  padding: 0px 0 32px 0;
  color: #ffc178;
}

.page-header__title::before {
  margin: 0 32px 0 0;
  background-color: #ffc178;
}

.page-header__subtitle, .page-header__subtitle-bold {
  text-transform: capitalize;
  line-height: 100px;
}

.page-header__subtitle {
  width: 950px;
  font-size: 88px;
}

.page-header__subtitle-thin {
  font-weight: 400;
  font-size: 96px;
}

.page-header__column-social {
  padding: 47px 0 0 0;
}

.page-header__row-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 126px 0 0 0;
}

.page-header__btn-down {
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
}

.page-header__btn-down::after {
  content: "";
  display: inline-block;
  background: url(../img/icon/icon_arrow-w.svg);
  width: 25px;
  height: 16px;
  margin: 0 0 0 9px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/*!=================ABOUT=================!*/
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 598px;
          flex: 0 0 598px;
}

.about__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 632px;
          flex: 0 0 632px;
  margin: 0 0 0 auto;
}

.about__title {
  padding: 0 0 27px 0;
}

.about__subtitle {
  max-width: 555px;
  padding: 0 0 27px 0;
}

.about__text {
  padding: 0 0 27px 0;
}

/*!=================SLIDER=================!*/
.slider__slide {
  position: relative;
}

.slider__navigation-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.slider__btn-r, .slider__btn-l {
  width: 30px;
  height: 30px;
  border: none;
}

.slider__btn-l {
  margin: 0 41px 0 0;
  background: url(../img/icon/chevron_big_left.svg) no-repeat center/cover;
}

.slider__btn-r {
  margin: 0 0 0 31px;
  background: url(../img/icon/chevron_big_right.svg) no-repeat left/cover;
}

/*!=================CULTURE=================!*/
.culture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -23px 0 0 0;
}

.culture__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43.19%;
          flex: 0 0 43.19%;
  margin: 0 auto 0 42px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.culture__title, .culture__subtitle, .culture__text {
  padding: 0 0 27px 0;
}

.culture__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 39.54%;
          flex: 0 0 39.54%;
}

/*!=================FOOTER=================!*/
