/*!=================ABOUT=================!*/
.about {
  display: flex;
  &__img {
    flex: 0 0 598px;
    height: 720px;
  }
  &__content {
    flex: 0 0 632px;
    margin: 0 0 0 auto;
  }

  &__title {
    padding: 0 0 27px 0;
  }

  &__title::before {
    @extend %title;
  }

  &__subtitle {
    max-width: 555px;
    padding: 0 0 27px 0;
  }

  &__text {
    padding: 0 0 27px 0;
  }

  &__link::after {
    @extend %link;
  }
}
