/*!=================HEADER=================!*/

.page-header {
  min-width: fit-content;
  min-height: 1558px;
  position: relative;
  z-index: 1;
  background: linear-gradient(330.24deg, $blak-a 31.06%, $blak 108.93%),
    url(../img/bg.png) no-repeat center/ cover;

  &__bg {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 358px;
    min-width: 100%;
    background: linear-gradient(360deg, $blak 14.99%, $blak-a 77.78%);
    z-index: 2;
  }

  &__container {
    width: 1920px;
    padding: 58px 84px 0 79px;
    // margin: 0 auto;
  }

  &__logo {
    width: 86px;
    height: 23px;
    margin: 0 0 0 6px;
  }

  &__main-nav {
    // display: flex;
    justify-content: space-between;
    margin: 8px 0 198px 0;
  }

  &__form-search {
    margin: -2px 0 0 0;
  }

  &__title {
    padding: 0px 0 32px 0;
    color: $light-orang;
  }

  &__title::before {
    @extend %title;
    margin: 0 32px 0 0;
    background-color: $light-orang;
  }

  &__subtitle,
  &__subtitle-bold {
    text-transform: capitalize;
    line-height: 100px;
  }
  &__subtitle {
    width: 950px;
    font-size: 88px;
  }

  &__subtitle-thin {
    font-weight: 400;
    font-size: 96px;
  }

  &__row-content {
    // border: solid slateblue; /* visualy asistent */
    // display: flex;
    margin: -32px 0 0 0;
  }

  &__column-social {
    padding: 47px 0 0 0;
  }

  .social {
    &__list {
      display: flex;
      flex-direction: column-reverse;
    }
    &__text {
      writing-mode: vertical-lr;
    }
    &__item:not(&__item:last-child) {
      margin: 25px 0 0 0;
    }

    // &__link {
    // }

    &__img {
      width: 24px;
      height: 24px;
      margin: 0 0 0 7px;
    }
    &__item:first-child .social__img {
      padding: 0 0 0 6px;
    }
  }
  // &__column-title {
  // }

  &__row-btn {
    // display: flex;
    justify-content: center;
    margin: 126px 0 0 0;
  }
  &__btn-down {
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
    cursor: pointer;
  }
  &__btn-down:hover {
    color: $light-orang;
  }

  &__btn-down:active {
    color: $light-white;
  }

  &__btn-down::after {
    content: "";
    display: inline-block;
    background: url(../img/icon/icon_arrow-w.svg);
    width: 25px;
    height: 16px;
    margin: 0 0 0 9px;
    transform: rotate(90deg);
  }
  &__btn-down:hover::after {
    filter: invert(100%);
  }
  &__btn-down:active::after {
    filter: opacity(0.3);
  }
}
