// /*=================Sample-Colors=================!*/
$light-white: rgba(255, 255, 255, 0.3);
$blak: #000;
$blak-a: rgba(0, 0, 0, 0);
$light-orang: #ffc178;
$orang: #ffa343;
$light-yellow: #ffd1a0;
$yellow: #fbd784;
